<%= form_for(master) do |f| %>
<div class="container">
  <% if master.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(master.errors.count, "error") %> prohibited this master from being saved:</h2>
      <ul>
      <% master.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :patronymmic %>
    <%= f.text_field :patronymmic%>
  </div>
  <div class="field">
    <%= f.label :surname %>
    <%= f.text_field :surname%>
  </div>
  <p>
    <label for="master_category_id">Category:</label><br />
    <%= f.collection_select :category_id, Category.all, :id, :name, :prompt => "Select a Category" %>
    or create one:
    <%= f.text_field :new_category_name %>
  </p>

 <div class="container">
  <div class="row">
    <div class="col">
    <table class="table table-striped table-bordered table-list">
      <tr>
        <th> Начало работы</th>
        <th> Конец работы</th>
      </tr>
      <tr>
        <td><%= f.text_field :open, id: "working_hours" %></td>
        <td><%= f.text_field :close, id: "working_hours"%></td>
      </table>
      </div>
      </div>
      </div>

  <div class="actions">
    <%= f.submit %>
  </div>
</div>
<% end %>
