<%= form_for(master)  do |f| %>
<div class="container">
  <% if master.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(master.errors.count, "error") %> prohibited this master from being saved:</h2>
      <ul>
      <% master.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="card background-text">
 <div class="container">
  <div>
    <%= f.label :name  %>
    <%= f.text_field :name, class:"form-control "  %>
  </div>
  <div>
    <%= f.label :patronymic  %>
    <%= f.text_field :patronymmic,class:"form-control " %>
  </div>
  <div>
    <%= f.label :surname  %>
    <%= f.text_field :surname, class:"form-control "%>
  </div>
  <div >
    <%= f.label :open_time %>
    <%= f.time_field :open_time, value: ("%H:%M") %>
  </div>
  <div >
    <%= f.label :close_time  %>
    <%= f.time_field :close_time, value: ("%H:%M") %>
  </div>
  <p align="center">
    <label for="master_category_id">Category:</label><br />
    <%= f.collection_select :category_id, Category.all, :id, :name, prompt: "Select a Category" %>
    or create one:
    <%= f.text_field :new_category_name %>
  </p>

  <div class="actions">
    <%= f.submit t('common.create_master') %>
  </div>
  </div>
  </div>
</div>
<% end %>
