<div class= "container">
<div class="panel panel-default panel-table" id="filterrific_results">

            <div class="panel-body">
              <table class="table table-striped table-bordered table-list">
                <thead>
                  <tr class="links">
                    <th><%= filterrific_sorting_link(@filterrific, :surname, label: t('lecture_note_form.FIO'))%></th>
                    <th class="table-text"><%= t('lecture_note_form.address') %></th>
                    <th><%= filterrific_sorting_link(@filterrific, :date_of_birth, label: t('lecture_note_form.date_of_birth')) %></th>
                    <th><%= filterrific_sorting_link(@filterrific, :average_visits, label: t('lecture_notes_table.average_visits')) %></th>
                    <th><%= filterrific_sorting_link(@filterrific, :average_spending, label: t('lecture_notes_table.average_spending')) %></th>
                  </tr>
                </thead>

                <tbody>
                  <% clients.each do |client| %>
                  <tr class="background-text-header">
                    <td style= "width: 180px" class="table-text"><%= link_to client.surname, client %></td>
                    <td class="table-text"><%= "#{client.country},#{client.region}, #{client.city}, #{client.street}, #{client.building} - #{client.flat}" %></td>
                    <td style= "width: 175px" class="table-text"><%= client.birthday %></td>
                    <td style= "width: 175px" class="table-text"><%= client.average_visits %></td>
                    <td style= "width: 175px" class="table-text"><%= client.average_spending %></td>
                  </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
            </div>
          </div>
<%= will_paginate clients %>
