<div class ="container">
  <h1> Вы владелец сайта! </h1>
  <% if current_user %>
    <%= link_to 'Log out', destroy_user_session_path, method: :delete %>
    <% if current_user.admin? %>
    <%= form_for User.new , url: create_by_owner_path do |f| %>
      <div class="field">
        <%= f.label :name %><br />
        <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
      </div>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>

      <div class="actions">
        <%= f.submit "Sign up" %>
      </div>
    <% end %>

    <% User.where(admin: false).each do |user|%>
    <%= user.name %>
    <%= user. email %>
    <% end %>
    <% end %>
  <% else %>
    <%= link_to 'Log in', new_user_session_path %>
  <% end %>

</div>
