<%= form_for(offer) do |f| %>
<% if offer.errors.any? %>
  <div id="error_explanation" class="background-text">
    <h6 class="background=text"><%= pluralize(offer.errors.count, "error") %>
      prohibited this offer from being saved:</h6>
    <ul>
      <% offer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<div class="card background-text">
  <div class="container">
  <div class="field" align="center">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="field" align="center">
    <%= f.label :description %>
    <%= f.text_field :description, class: "form-control"%>
  </div>

  <div class="field" align="center">
    <%= f.label :duration %>
    <%= f.time_field :duration,vale: "%H:%M",class: "form-control"%>
  </div>
    </div>
  <p align="center">
    <label for="master_category_id">Category:</label><br/>
    <%= f.collection_select :category_id, Category.all, :id, :name, prompt: "Select a Category" %>
    or create one:
    <%= f.text_field :new_category_name%>
  </p>

  <p align="center">
    <label for="master_category_id">Master:</label><br/>
    <%= f.collection_select :master_id, Master.all, :id, :name, prompt: "Select a Master" %>
  </p>
  <p align="center">
    <%= f.text_field :price, placeholder: "Price"%>
  </p>
  <br>
  <div class="actions" align="center">
    <%= f.submit t('common.create'), class: "btn btn-warning"%>
  </div>
  <br>
<% end %>
</div>
