<%= form_for(category) do |f| %>
<div class="card">
  <% if category.errors.any? %>
    <div id="error_explanation" class="background-text">
      <h4>
        Не удалось сохранить:</h4>
      <ul>
        <% category.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container">
    <div class="field" align="center">
      <%= f.label :name, class: "background-text" %>
      <%= f.text_field :name, class: "form-control"%>
    </div>
    <br>
    <div class="actions" align="center">
      <%= f.submit t('common.create'), class: "btn btn-warning" %>
    </div>
    <br>
  </div>
<% end %>
